*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  /* Colors */
  /* Main colors */
  --color-primary: rgb(34, 43, 65);
  /* Accent colors */
  --color-accent-0: hsl(43, 84%, 65%);
  --color-accent-1: hsl(15, 100%, 70%);
  --color-accent-2: hsl(195, 74%, 62%);
  --color-accent-3: hsl(348, 100%, 68%);
  --color-accent-4: hsl(145, 58%, 55%);
  --color-accent-5: hsl(264, 64%, 52%);
  /* Fun Colors */
  --color-fun-0: hsl(330, 65%, 68%); /* pink */
  --color-fun-1: hsl(15, 80%, 70%); /* peach */
  --color-fun-2: hsl(85, 55%, 62%); /* lime */
  --color-fun-3: hsl(195, 55%, 60%); /* sky */
  --color-fun-4: hsl(280, 60%, 70%); /* lavender */
  /* Neutral colors */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-1: hsl(0, 0%, 87.5%);
  --color-neutral-2: hsl(0, 0%, 75%);
  --color-neutral-3: hsl(0, 0%, 62.5%);
  --color-neutral-4: hsl(0, 0%, 50%);
  --color-neutral-5: hsl(0, 0%, 37.5%);
  --color-neutral-6: hsl(0, 0%, 25%);
  --color-neutral-7: hsl(0, 0%, 12.5%);
  --color-neutral-8: hsl(0, 0%, 0%);
  --color-success: hsla(100, 100%, 67%, 0.507);
  --color-warning: hsla(50, 100%, 67%, 0.521);
  --color-error: hsla(4, 100%, 67%, 0.502);
  --color-info: hsla(200, 100%, 67%, 0.457);
  /* Spacing sizes */
  --size-xs: clamp(0.5rem, calc(0.35rem + 0.4vw), 1rem);
  --size-sm: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-md: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  --size-lg: clamp(2.5rem, calc(3.25rem + 1vw), 4rem);
  --size-square: clamp(2.5rem, calc(2rem + 1vw), 5rem);
  /* Font sizes */
  --fs-sm: clamp(1rem, calc(0.8rem + 0.7vw), 1.3rem);
  --fs-md: clamp(1.5rem, calc(1.3rem + 1vw), 2rem);
  --fs-lg: clamp(2rem, calc(1.8rem + 1.2vw), 3rem);
  --fs-xl: clamp(4rem, calc(4rem + 3vw), 10rem);
  /* Font weights */
  --fw-thin: 100;
  --fw-xlight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-xbold: 800;
  --fw-black: 900;
  /* Tablet and Desktop */
}
@media screen and (min-width: 40rem) {
  :root {
    /* Font sizes */
    --fs-sm: clamp(1rem, calc(0.8rem + 0.2vw), 3rem);
    --fs-md: clamp(1.5rem, calc(1.3rem + 0.3vw), 5rem);
    --fs-lg: clamp(3rem, calc(2rem + 0.5vw), 9rem);
    --fs-xl: clamp(5rem, calc(4.5rem + 2vw), 15rem);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
.fast-slow-hover {
  transition: 1000ms ease;
  cursor: pointer;
}
.fast-slow-hover:hover {
  color: var(--color-secondary);
  transition: 500ms ease;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(350deg);
  }
}
.rotate {
  animation: rotate 60s linear infinite;
  will-change: transform;
}

.underline-hover {
  position: relative;
}
.underline-hover:hover {
  opacity: 1;
  cursor: pointer;
}
.underline-hover:not(.underline-hover--selected)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 0%;
  height: 0.3rem;
  background-color: var(--color-neutral-0);
  transition: 500ms ease;
}
.underline-hover:not(.underline-hover--selected):hover::before {
  width: 100%;
  transition: 300ms ease;
}
.underline-hover--selected::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 0.3rem;
  background-color: var(--color-neutral-0);
}

.rotate-forward {
  animation: rotateForward 400ms ease forwards;
  will-change: transform;
}

.rotate-backward {
  animation: rotateBackward 200ms ease forwards;
  will-change: transform;
}

@keyframes rotateForward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotateBackward {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.open-div {
  animation: open-up 400ms ease forwards;
  will-change: max-height;
}

.close-div {
  animation: close-down 200ms ease forwards;
  will-change: max-height;
}

@keyframes open-up {
  from {
    max-height: 0;
  }
  to {
    max-height: 20rem;
  }
}
@keyframes close-down {
  from {
    max-height: 20rem;
  }
  to {
    max-height: 0;
  }
}
.floating-hover {
  transition: transform 1000ms ease;
}
.floating-hover:hover {
  transform: scale(1.3);
  transition-duration: 500ms;
}

.floating {
  animation: floating 3s ease-in-out infinite;
  will-change: transform;
  animation-delay: calc(var(--delay) * 0.4s);
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.fade-in {
  animation: fade-in 1s ease-out forwards;
  will-change: transform;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.fade-out {
  animation: fade-out 1.5s ease-out forwards;
  will-change: transform;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.yeet {
  animation: yeet 1s ease-out forwards;
  will-change: transform opacity;
}

@keyframes yeet {
  0% {
    transform: translate(0, 0) scale(1) rotate(0);
    opacity: 1;
  }
  20% {
    transform: translate(30px, -12px) scale(0.3) rotate(3turn);
    opacity: 0.7;
  }
  100% {
    transform: translate(10px, -25px) scale(0.02) rotate(1turn);
    opacity: 0;
  }
}
.expand {
  animation: expand 500ms ease-in-out;
  transform-origin: top;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }
  70% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.expand-and-collapse {
  animation: expand-and-collapse 1500ms cubic-bezier(0.2, 0.7, 0.2, 1) forwards;
  transform-origin: top;
  will-change: transform;
}

@keyframes expand-and-collapse {
  0% {
    transform: scale(1, 1);
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale(0.7, 1.3);
    animation-timing-function: linear;
  }
  70% {
    transform: scale(0.7, 1.3);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    transform: scale(1, 0);
  }
}
.enter-screen {
  animation: enter-screen 700ms ease-out forwards;
  will-change: transform;
}

@keyframes enter-screen {
  0% {
    transform: translateY(100vh);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.offscreen-to-preview {
  animation: offscreen-to-preview 700ms ease-out forwards;
  will-change: transform;
}

@keyframes offscreen-to-preview {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.8;
  }
}
.preview-to-current {
  animation: preview-to-current 700ms ease-out forwards;
  will-change: transform;
}

@keyframes preview-to-current {
  0% {
    transform: scale(0.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.current-to-preview {
  animation: current-to-preview 700ms ease-out forwards;
  will-change: transform;
}

@keyframes current-to-preview {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.8;
  }
}
.preview-to-offscreen {
  animation: preview-to-offscreen 700ms ease-out forwards;
  will-change: transform;
}

@keyframes preview-to-offscreen {
  0% {
    transform: scale(0.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.attribution {
  grid-area: attribution;
  width: 100%;
  text-align: center;
  padding-block-end: var(--size-sm);
}
.attribution__text {
  color: var(--color-neutral-8);
}
.attribution__link {
  color: var(--color-primary);
}
.attribution__link:hover {
  color: var(--color-secondary);
}

.button {
  background: transparent;
  text-decoration: none;
  border: 0.2rem solid transparent;
  cursor: pointer;
}
.button--rectangle {
  padding: calc(var(--size-xs) + 0.3rem) calc(var(--size-md) + 0.5rem);
  border-radius: calc(var(--size-xs) - 0.1rem);
}
@media screen and (min-width: 65rem) {
  .button--rectangle {
    padding: var(--size-xs) calc(var(--size-sm) - 0.5rem);
  }
}
.button--circle {
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.button--wide {
  width: 100%;
}
.button--selected.button--rectangle {
  position: relative;
}
.button--selected.button--rectangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 0.2rem;
  background: var(--color-accent-secondary);
}
.button--selected.button--contrast {
  color: var(--color-neutral-8);
  background: var(--color-neutral-0);
}
.button--primary {
  background-color: var(--color-neutral-0);
}
.button--secondary {
  background-color: var(--color-primary);
}
.button--dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.button--navigation {
  aspect-ratio: 1/1;
  z-index: 2;
}
.button--navigation--left {
  justify-self: flex-start;
  margin-inline-end: auto;
}
.button--navigation--right {
  justify-self: flex-end;
  margin-inline-start: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--size-sm);
  overflow: hidden;
  height: 100%;
}
.card__image {
  width: 100%;
  border-radius: var(--size-sm);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  margin-block-start: var(--size-xs);
}
.card__text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: var(--size-xs);
}
.card__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color-neutral-3);
  padding: var(--size-sm) calc(var(--size-md) - 0.5rem);
  width: 100%;
}
.card__content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: var(--size-xs);
  background: var(--color-accent-4);
  position: relative;
  overflow: hidden;
}
.card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 60rem) {
  .card--wide {
    height: 100%;
    justify-content: flex-start;
    grid-row: span 2;
  }
  .card__profile {
    flex-direction: column;
    align-items: flex-start;
  }
  .card__buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--size-sm) - 1rem);
  }
  .card__text-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .card__header {
    margin-block-end: var(--size-xs);
  }
}
.dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: min(80vw, 40rem);
  position: fixed;
  overflow: hidden;
  border-radius: var(--size-sm);
  z-index: 99;
}
.dialog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--size-sm) var(--size-lg);
  gap: var(--size-md);
  background: var(--color-primary);
}
.dialog__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-sm);
}
.dialog__header {
  text-align: center;
  width: 100%;
}

.dialog::backdrop {
  background: var(--color-neutral-6);
  opacity: 0.5;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--size-md);
  gap: var(--size-md);
  width: clamp(10rem, 85vw, 60rem);
  background: var(--color-neutral-0);
  border-radius: var(--size-sm);
  position: relative;
}
.accordion__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-md);
}
.accordion__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-md);
  width: 100%;
}
.accordion__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.accordion__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--size-sm);
  transition: 500ms ease;
  cursor: pointer;
}
.accordion__title:hover {
  color: var(--color-primary);
  transition: 200ms ease;
}
.accordion__description {
  display: block;
  width: 100%;
  line-height: 1.7;
  max-height: 0;
  overflow: hidden;
  margin-block-start: calc(var(--size-xs) + 0.25rem);
}
.accordion__description--opened {
  max-height: 20rem;
}

@media screen and (min-width: 60rem) {
  .accordion {
    width: clamp(30rem, 30rem + 10vw, 50rem);
  }
}
.icon {
  height: auto;
}
.icon:hover {
  transform: scale(1.2);
}
.icon:active {
  opacity: 0.8;
}
.icon__path {
  stroke-width: 3;
}
.icon--small {
  width: clamp(0.5rem, 0.3rem + 0.3vw, 0.8rem);
}
.icon--medium {
  width: clamp(0.8rem, 0.5rem + 0.5vw, 1.2rem);
}
.icon--large {
  width: clamp(2.5rem, 2rem + 0.8vw, 5rem);
}
.icon--larger {
  width: clamp(10rem, 10rem + 1vw, 15rem);
}
.icon--primary {
  color: var(--color-primary);
}
.icon--bold {
  stroke: var(--color-primary);
  stroke-width: 4px;
}
.icon--secondary {
  color: var(--color-neutral-4);
}
.icon--tertiary {
  background-color: var(--color-primary);
  color: var(--color-neutral-0);
}
.icon--tertiary.selected {
  background-color: var(--color-neutral-0);
  color: var(--color-primary);
}

.indicator {
  width: 1rem;
  background: var(--color-primary);
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0.2;
}
.indicator--selected {
  opacity: 1;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--size-xs);
  margin-block-end: var(--size-sm);
  width: min(100%, 50ch);
}
.list__item {
  list-style: none;
}
.list__item--icon {
  padding-inline-start: 8%;
  position: relative;
}
.list__item--icon::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: clamp(1em, 1em + 0.2vw, 1.2em);
  width: auto;
  aspect-ratio: 1/1;
}

@media screen and (min-width: 60rem) {
  .list {
    margin-block-end: 0;
  }
}
.picture--large {
  width: 100%;
}
@media screen and (min-width: 60rem) {
  .picture--large {
    height: 100%;
    width: auto;
  }
}
.picture--medium {
  width: 80%;
}
@media screen and (min-width: 60rem) {
  .picture--medium {
    height: 80%;
    width: auto;
  }
}
.picture--small {
  width: 50%;
}
@media screen and (min-width: 60rem) {
  .picture--small {
    height: 50%;
    width: auto;
  }
}
.picture--circle {
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.picture--border {
  border: 0.2rem solid var(--color-neutral-0);
}
.picture__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 60rem) {
  .picture__img {
    height: 100%;
    width: clamp(15rem, 10rem + 10vw, 60rem);
  }
}
.picture__source {
  display: block;
}

.text {
  font-family: "Space Mono", monospace, sans-serif;
}
.text__description {
  max-width: 40ch;
  line-height: 1.5;
}
@media screen and (min-width: 40rem) {
  .text__description {
    max-width: 45ch;
  }
}
.text--primary {
  color: var(--color-neutral-0);
}
.text--secondary {
  color: var(--color-neutral-2);
}
.text--tertiary {
  color: var(--color-neutral-4);
}
.text--small {
  font-size: var(--fs-sm);
}
.text--medium {
  font-size: var(--fs-md);
}
.text--large {
  font-size: var(--fs-lg);
}
.text--larger {
  font-size: var(--fs-xl);
}
.text--uppercase {
  text-transform: uppercase;
}
.text--lowercase {
  text-transform: lowercase;
}
.text--thin {
  font-weight: var(--fw-thin);
}
.text--xlight {
  font-weight: var(--fw-xlight);
}
.text--light {
  font-weight: var(--fw-light);
}
.text--regular {
  font-weight: var(--fw-regular);
}
.text--medium {
  font-weight: var(--fw-medium);
}
.text--semibold {
  font-weight: var(--fw-semibold);
}
.text--bold {
  font-weight: var(--fw-bold);
}
.text--xbold {
  font-weight: var(--fw-xbold);
}
.text--black {
  font-weight: var(--fw-black);
}
.text--center {
  text-align: center;
}
@media screen and (min-width: 40rem) {
  .text--wide-screen-align-left {
    text-align: left;
  }
}

@media screen and (min-width: 65rem) {
  .text {
    text-align: left;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(80vw, 30rem);
  background: var(--color-neutral-0);
  border-radius: var(--size-sm);
  padding: var(--size-sm);
  gap: var(--size-sm);
  cursor: default;
}
@media screen and (min-width: 60rem) {
  .form {
    width: clamp(30rem, 30rem + 0.5vw, 40rem);
  }
}
.form {
  position: relative;
}
.form__field {
  gap: var(--size-sm);
  width: 100%;
  margin-block-end: calc(var(--size-xs) + 0.5rem);
}
.form__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20rem;
  gap: 0.5rem;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: center;
  border: none;
  width: 100%;
}
.form__legend {
  margin-block-end: calc(var(--size-md) - 1rem);
}
.form__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: none;
  width: 100%;
  height: 100%;
  gap: var(--size-sm);
}
.form__inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  position: relative;
}
.form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-xs);
}
.form__unit {
  color: var(--color-primary);
}
.form__input-wrapper {
  position: relative;
  width: 100%;
}
.form__input {
  border-radius: calc(var(--size-xs) + 0.2rem);
  background-color: var(--color-neutral-0);
  border: 0.1rem solid var(--color-neutral-3);
  height: clamp(2rem, 2rem + 0.5vw, 2.5rem);
  padding-inline-start: var(--size-xs);
}
.form__input::-moz-placeholder {
  color: var(--color-neutral-3);
}
.form__input::placeholder {
  color: var(--color-neutral-3);
}
.form__input:focus {
  outline: 0.1rem solid var(--color-primary);
}
.form__input:hover {
  outline: 0.1rem solid var(--color-primary);
  cursor: pointer;
}
.form__input--text {
  width: 100%;
}
.form__input--email {
  width: 100%;
}
.form__text-area {
  width: 100%;
  height: calc(var(--size-lg) + 1.5rem);
  border-radius: var(--size-xs);
  border: 0.1rem solid var(--color-neutral-3);
  padding: var(--size-xs);
}
.form__text-area:focus {
  outline: 0.1rem solid var(--color-primary);
}

/* Credit: https://css-loaders.com/spinner/ */
.spinner {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-neutral-0);
  -webkit-mask: repeating-conic-gradient(rgba(0, 0, 0, 0) 0deg, #000 1deg 70deg, rgba(0, 0, 0, 0) 71deg 90deg), radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
          mask: repeating-conic-gradient(rgba(0, 0, 0, 0) 0deg, #000 1deg 70deg, rgba(0, 0, 0, 0) 71deg 90deg), radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: source-in, xor;
          mask-composite: intersect;
  animation: l5 1s infinite;
}

@keyframes l5 {
  to {
    transform: rotate(0.5turn);
  }
}
.loader {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}

.loader:before {
  content: "calibrating...";
}

@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
.container {
  padding-block: var(--size-md);
  position: relative;
  margin-inline: auto;
}
.container--wide {
  width: 100vw;
}
.container--flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-md);
}
.container--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, clamp(20rem, 20rem + 1vw, 25rem));
  justify-content: center;
  gap: var(--size-sm);
}
.container__header {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  width: 100%;
  gap: var(--size-sm);
}
.container__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-sm);
  width: min(90vw, 25rem);
}
.container__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-md);
}
.container__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-sm);
}
.container__indicators {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-xs);
  margin-block-start: auto;
}
.container__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container__sub-container {
  opacity: 1;
  position: relative;
  transition: opacity 0.6s ease;
  margin-block-end: var(--size-md);
}

@media screen and (min-width: 40rem) {
  .container {
    padding: var(--size-sm) var(--size-lg) var(--size-xs);
  }
  .container__cards {
    flex-direction: row;
  }
}
@media screen and (min-width: 60rem) {
  .container__sub-container {
    min-width: 65%;
  }
  .container__text-content {
    width: clamp(23rem, 20rem + 5vw, 40rem);
    align-items: flex-start;
  }
  .container__image {
    height: 100%;
    width: auto;
    align-self: flex-end;
    justify-self: flex-end;
    margin-inline-start: auto;
  }
  .container__navigation {
    width: 120%;
    padding-inline: var(--size-md);
    max-width: 80rem;
  }
}
footer {
  display: grid;
  grid-template: "logo" auto "links" auto "icons" auto "attribution" auto/1fr;
  gap: var(--size-sm);
  width: 100%;
  background-color: var(--color-secondary);
  padding: var(--size-md);
  align-items: center;
  justify-content: center;
}

.footer__logo {
  grid-area: logo;
  color: var(--color-neutral-0);
}
.footer__icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-md);
}
.footer__links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-0);
  gap: var(--size-sm);
  margin-block-end: var(--size-sm);
}
.footer__item {
  list-style: none;
}
.footer__link {
  text-decoration: none;
}

@media screen and (min-width: 40rem) {
  footer {
    grid-template: "logo links icons" 1fr "attribution attribution attribution" auto/auto 1fr auto;
    align-items: center;
    justify-content: center;
    padding: var(--size-sm) calc(var(--size-lg) + 1rem) var(--size-xs);
  }
  .footer__logo {
    justify-self: start;
  }
  .footer__icons {
    justify-self: end;
  }
  .footer__links {
    margin-block-end: 0;
    justify-self: flex-start;
    flex-direction: row;
    margin-inline-start: var(--size-md);
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--size-sm);
  gap: var(--size-xs);
  margin-inline: auto;
  background: var(--color-primary);
}

.mobile-hidden {
  display: none;
}
@media screen and (min-width: 40rem) {
  .mobile-hidden {
    display: initial;
  }
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.flex-mobile-row {
  flex-direction: row;
}
@media screen and (min-width: 40rem) {
  .flex-mobile-row {
    flex-direction: column;
  }
}

.flex-mobile-column {
  flex-direction: column;
}
@media screen and (min-width: 40rem) {
  .flex-mobile-column {
    flex-direction: row;
  }
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.wide {
  width: 100%;
}

.order-first {
  order: 1;
}
.order-last {
  order: -1;
}
.order-mobile-first {
  order: -1;
}
@media (min-width: 60rem) {
  .order-desktop-last {
    order: 1;
  }
}

.skip-link {
  color: var(--color-neutral-0);
  background-color: var(--color-primary);
  border-radius: 0 0 var(--size-sm) var(--size-sm);
  padding: var(--size-xs) var(--size-sm) var(--size-sm);
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -100%);
  transition: transform 0.3s ease-in-out;
}
.skip-link:focus {
  transform: translate(-50%, 0);
}

body {
  background: url("../assets/background/tablet.jpg") center center/cover no-repeat;
  cursor: url("../assets/icons/cursor-aim.png") 16 16, crosshair;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url("../assets/background/desktop.jpg");
  }
}

.character {
  height: 75%;
  max-width: 5rem;
  padding-block-end: var(--size-sm);
}
.character__previews {
  position: relative;
}
.character--offscreen {
  transform: scale(0);
  opacity: 0;
}
.character--preview {
  transform: scale(0.5);
  z-index: 1;
}
.character--default {
  z-index: 3;
  cursor: pointer;
  transform: scale(1);
  transition: 1000ms ease;
}
.character--default:hover {
  transform: scale(1.08);
  transition: 500ms ease;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.carousel__offscreen {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel__offscreen--right {
  right: 1rem;
}
.carousel__offscreen--left {
  left: 1rem;
}
.carousel__preview {
  opacity: 0.7;
}
.carousel__current {
  z-index: 3;
  opacity: 1;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  aspect-ratio: 1/1;
  border: 1px solid var(--color-neutral-0);
  overflow: hidden;
  position: relative;
}
.board__square {
  aspect-ratio: 1/1;
  background: none;
  border: 1px solid var(--color-neutral-0);
  width: var(--size-square);
}
.board__square:hover:not(.board__square--missed):not(.board__square--damaged) {
  background: hsla(0, 0%, 100%, 0.295);
  cursor: pointer;
}
.board__square--selected {
  background: hsla(0, 0%, 100%, 0.5);
}
.board__square--damaged {
  background: hsla(4, 100%, 67%, 0.5);
}
.board__square--error {
  background: var(--color-error);
}
.board__square--success {
  background: var(--color-success);
}
.board__square--warning {
  background: var(--color-warning);
}
.board__square--missed {
  background: url(../assets/icons/icon-x.png) center center/contain no-repeat;
}
.board__ships {
  background: var(--color-primary);
  padding: var(--size-md) var(--size-lg);
  border-radius: var(--size-md);
  width: min(80vw, 50rem);
  margin-block-end: var(--size-sm);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
.board__ship {
  display: inline-grid;
  grid-auto-flow: column;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.board__ship--notDeployed {
  cursor: grab;
}
.board__ship--notDeployed.dragging {
  opacity: 0.5;
}
.board__ship.vertical {
  grid-auto-flow: row;
}
.board__ship__square {
  aspect-ratio: 1/1;
  height: auto;
  width: var(--size-square);
}
.board__ship--destroyer {
  background-image: url("../assets/ships/ship-destroyer.png");
}
.board__ship--destroyer.vertical {
  background-image: url("../assets/ships/ship-destroyer-vertical.png");
}
.board__ship--submarine {
  background-image: url("../assets/ships/ship-submarine.png");
}
.board__ship--submarine.vertical {
  background-image: url("../assets/ships/ship-submarine-vertical.png");
}
.board__ship--cruiser {
  background-image: url("../assets/ships/ship-cruiser.png");
}
.board__ship--cruiser.vertical {
  background-image: url("../assets/ships/ship-cruiser-vertical.png");
}
.board__ship--battleship {
  background-image: url("../assets/ships/ship-battleship.png");
}
.board__ship--battleship.vertical {
  background-image: url("../assets/ships/ship-battleship-vertical.png");
}
.board__ship--carrier {
  background-image: url("../assets/ships/ship-carrier.png");
}
.board__ship--carrier.vertical {
  background-image: url("../assets/ships/ship-carrier-vertical.png");
}

.buffering-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  width: 100vw;
  height: 100vh;
  gap: var(--size-sm);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-sm);
}
.player__avatar {
  max-width: calc(2 * var(--size-lg));
  border: 1px solid var(--color-neutral-0);
  border-radius: var(--size-sm);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  order: -1;
}
.player__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-md);
}
@media screen and (min-width: 30rem) {
  .player__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}