// Abstracts (variables, mixins, functions)
@use "./abstracts/mixins" as m;

// Base / Reset
@use "./base/reset";
@use "./base/base";

// Components
@use "./components/animations";
@use "./components/attribution";
@use "./components/button";
@use "./components/cards/card";
@use "./components/cards/dialog";
@use "./components/utilities/accordion";
@use "./components/media/icon";
@use "./components/utilities/indicators";
@use "./components/typography/list";
@use "./components/media/picture";
@use "./components/typography/text";
@use "./components/form";

// Layout
@use "./layouts/container";
@use "./layouts/footer";
@use "./layouts/header";

@use "./abstracts/utilities";

body {
  background: var(--color-primary);
}

.character {
  height: 75%;
  max-width: 5rem;
  padding-block-end: var(--size-small);

  &__previews {
    position: relative;
  }

  &--offscreen {
    transform: translateY(-50%) scale(0.2);
  }

  &--preview {
    transform: scale(0.5);
    z-index: 1;
  }

  &--default {
    z-index: 3;
    cursor: pointer;
    transform: scale(1);
    transition: 500ms ease;

    &:hover {
      transform: scale(1.08);
      transition: 200ms ease;
    }
  }
}

.carousel {
  @include m.flex(row);

  &__offscreen {
    position: absolute;
    opacity: 0.1;
    top: 50%;

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }
  }

  &__preview {
    opacity: 0.8;
  }

  &__current {
    z-index: 3;
    opacity: 1;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 80vw;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--color-neutral-0);
  overflow: hidden;

  &__square {
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background: none;
    border: 1px solid var(--color-neutral-0);

    &:hover {
      background: rgba(255, 255, 255, 0.295);
    }
  }
}

body {
  background: url("../assets/background/tablet.jpg") center center / cover
    no-repeat;
  cursor:
    url("../assets/cursor-aim.png") 16 16,
    crosshair;

  @media screen and (min-width: 768px) {
    background-image: url("../assets/background/desktop.jpg");
  }
}
