@use "../../abstracts/mixins" as m;

.carousel {
  @include m.flex(row);

  &__slot {
    &--offscreen {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &--right {
        right: 1rem;
      }

      &--left {
        left: 1rem;
      }
    }

    &--preview {
      opacity: 0.7;
    }

    &--current {
      z-index: 3;
      opacity: 1;
    }
  }
}
