.character {
  height: 75%;
  width: clamp(3rem, calc(3rem + 2vw), 4rem);
  padding-block-end: var(--size-sm);

  @media screen and (min-width: 400px) {
    width: 5rem;
  }

  &--offscreen {
    transform: scale(0);
    opacity: 0;
  }

  &--preview {
    transform: scale(0.5);
    z-index: 1;
  }

  &--default {
    z-index: 3;
    cursor: pointer;
    transform: scale(1);
    transition: 1000ms ease;

    &:hover {
      transform: scale(1.08);
      transition: 500ms ease;
    }
  }
}
