.icon {
  height: auto;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }

  &__path {
    stroke-width: 3;
  }

  &--small {
    width: clamp(0.5rem, calc(0.3rem + 0.3vw), 0.8rem);
  }
  &--medium {
    width: clamp(0.8rem, calc(0.5rem + 0.5vw), 1.2rem);
  }
  &--large {
    width: clamp(2.5rem, calc(2.5rem + 0.8vw), 5rem);
  }
  &--larger {
    width: clamp(10rem, calc(10rem + 1vw), 15rem);
  }

  &--primary {
    color: var(--color-primary);
  }

  &--bold {
    stroke: var(--color-primary);
    stroke-width: 0.5px;
  }

  &--secondary {
    color: var(--color-neutral-4);
  }
}
