body {
  background: url("../assets/background/tablet.jpg") center center / cover
    no-repeat;
  cursor:
    url("../assets/icons/cursor-aim.png") 16 16,
    crosshair;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.279);
  }

  @media screen and (min-width: 768px) {
    background-image: url("../assets/background/desktop.jpg");
  }
}
