@use "../abstracts/mixins" as m;

.buffering-screen {
  @include m.flex(column);
  background-color: var(--color-primary);
  width: 100vw;
  height: 100vh;
  gap: var(--size-sm);
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
