.icon {
  height: auto;

  &:hover {
    transform: scale(1.2);
  }
  &:active {
    opacity: 0.8;
  }

  &--small {
    width: clamp(0.5rem, calc(0.3rem + 0.3vw), 0.8rem);
  }
  &--medium {
    width: clamp(1rem, calc(1.5rem + 0.5vw), 2.5rem);
  }
  &--large {
    width: clamp(2.5rem, calc(2rem + 0.8vw), 5rem);
  }

  &--primary {
    color: var(--color-primary);
  }
  &--secondary {
    background-color: var(--color-primary);
    color: var(--color-neutral-0);

    &.selected {
      background-color: var(--color-neutral-0);
      color: var(--color-primary);
    }
  }

  &--bold {
    stroke: var(--color-primary);
    stroke-width: 4px;
  }
}
