.text {
  font-family: "Space Mono", monospace, sans-serif;

  &--primary {
    color: var(--color-neutral-0);
  }
  &--secondary {
    color: var(--color-neutral-2);
  }

  &--small {
    font-size: var(--fs-sm);
  }
  &--medium {
    font-size: var(--fs-md);
  }
  &--large {
    font-size: var(--fs-lg);
  }
  &--larger {
    font-size: var(--fs-xl);
  }

  &--uppercase {
    text-transform: uppercase;
  }
  &--lowercase {
    text-transform: lowercase;
  }

  &--light {
    font-weight: var(--fw-light);
  }
  &--regular {
    font-weight: var(--fw-regular);
  }
  &--medium {
    font-weight: var(--fw-medium);
  }
  &--semibold {
    font-weight: var(--fw-semibold);
  }
  &--bold {
    font-weight: var(--fw-bold);
  }
  &--xbold {
    font-weight: var(--fw-xbold);
  }

  &--center {
    text-align: center;
  }
}
